.title{
  text-align: center;
}

.jan {
  font-size: 14px;
  color: purple;
  font-style: italic;
  text-align: center;
}

.nav-pills {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}


.desc1 {
  text-align: center;
  color: purple;
}

.profile {
  text-align: justify;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

.profile-pic img {
  margin-bottom: -100px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
}
