@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);



body, html {
	height: 100%;
}
body {
	background: url("Images/fish.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	overflow:hidden;
}

#nav a{
  text-decoration: none;
  text-transform: uppercase;
  width: 50px;
  color: #007058;
}

#nav{
  margin-top: 50px;
}

#nav li:hover {
  color: #black;
  background: #00da98;
  text-decoration: none;
}
#nav a:hover {
  color: #black;
  text-decoration: none;
}

#nav ul{
  list-style-type: none;

}

#nav li{
  text-decoration: none;
  display: inline;
  border: 3px solid #da0061;
  padding: 6px;
  margin: none;
  background: black;
}

#why{
	text-align:center;
	color: black;
}
#why p{
	font-family: 'Abril Fatface', cursive;
	font-size: 23px;
	padding: 12px;
}

.container{
	width: 25%;
	display: inline-table;
	padding: 0px;
	float: left;
	height: 100%;
	opacity: 0.7;
	text-align:center;
}

.container:hover{
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.container ul {
	text-align:center;
	padding: 0px;
	list-style-type: none;

}

.container ul li{
	display: block;
	text-decoration:none;
	text-align:center;

}
